@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 233 81% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 90%;
    --muted-foreground: 215deg 13.79% 34.12%;

    --accent: 0 0% 95.02%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 233 81% 65%;

    --radius: 0.5rem;

    --danger: 0 93.33% 94.12%;
    --warning: 55 92% 95%;
    --success: 120 60% 50%;

    --danger-foreground: 0 73.71% 41.76%;
    --warning-foreground: 35.45 91.67% 32.94%;
    --success-foreground: 120 100% 95%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 6.02%;
    --foreground: 210 40% 98%;

    --card: 0 0% 6.02%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 233 81% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0deg 0% 45.1%;

    --accent: 0 0% 10.02%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 16%;
    --input: 0 0% 20%;
    --ring: 233 81% 65%;

    --danger: 0 100% 70%;
    --warning: 45 100% 60%;
    --success: 120 80% 70%;

    --danger-foreground: 0 100% 10%;
    --warning-foreground: 45 100% 10%;
    --success-foreground: 120 100% 10%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
